doctype html
head
	title Health - Free HTML5 Bootstrap 4 Template by uicookies.com
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='description' content='Free HTML5 Website Template by uicookies.com')
	meta(name='keywords' content='free bootstrap 4, free bootstrap 4 template, free website templates, free html5, free template, free website template, html5, css3, mobile first, responsive')
	meta(name='author' content='uicookies.com')
	link(href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet')
	link(rel='stylesheet' href='css/bootstrap.min.css')
	link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css')
	link(rel='stylesheet' href='css/owl.carousel.min.css')
	link(rel='stylesheet' href='css/owl.theme.default.min.css')
	link(rel='stylesheet' href='css/icomoon.css')
	link(rel='stylesheet' href='css/flaticon.css')
	link(rel='stylesheet' href='css/animate.css')
	link(rel='stylesheet' href='css/bootstrap-datepicker.css')
	link(rel='stylesheet' href='css/style.css')
body(id=userData.id)
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.probootstrap-navbar-dark
		.container
			// <a class="navbar-brand" href="index.html">Health</a>
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#probootstrap-nav' aria-controls='probootstrap-nav' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#probootstrap-nav.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link.pl-0(href='index.html') Home
					li.nav-item
						a.nav-link(href='about.html') About
					li.nav-item
						a.nav-link(href='contact.html') Contact
	// END nav
	section.probootstrap-services
		.container
			.row.no-gutters
				.col-md-3.probootstrap-aside-stretch-left
					.mb-3
						.probootstrap-icon.mb-3
							img(src='/images/person.png')
						h2.h5 #{userData.FirstName}
						ul.list-unstyled.probootstrap-light.mb-4(style='color:aquamarine;')
							li(onclick="showMenu('dashboard')") Dashboard
							li(onclick="showMenu('appointments')") Recent Appointments
							li(onclick="showMenu('history')") History
							li(onclick="showMenu('accountSettings')") Account Settings
				.col-md-9.pl-md-5.pl-0
					#dashboard(style='display: block; text-align: center;')
						h3(style='background-color: aqua; font-weight: bold;') Dashboard
						// Dashboard
						h1 Welcome Back UserName
						br
						br
						table(width='100%')
							tbody
								tr
									td(onclick="showMenu('appointments')")
										img(src='../images/accepted.png' alt='accepted')
									td(onclick="showMenu('history')")
										img(src='../images/history.png' alt='history')
									td(onclick="showMenu('history')")
										img(src='../images/feedback.jpg' alt='feedback')
								tr
									td
										p
										| Your appointment 
										br
										| was accepted
									td
										p
										| Look at your 
										br
										|  previous appointments
									td
										p
										| Give your 
										br
										|  valuable feedback
					#appointments.container(style='display: none; text-align: center;')
						#pendingAccepted
							h3(style='background-color: aqua; font-weight: bold;') Recent Appointments
							table#pendingAcceptedList.table.table-sm.table-hover.table-bordered(width="100%")
								thead
									tr
										th S.No 
										th Doctor Name 
										th Time 
										th Day
										th Date
										th Department
										th Gender 
										th Address  
										th Status 
								tbody
						#rejected
							h3(style='background-color: aqua; font-weight: bold;') Rejected Appointments
							table#rejectedList.table.table-sm.table-hover.table-bordered(width="100%")
								thead
									tr
										th S.No 
										th Doctor Name 
										th Time 
										th Day
										th Date
										th Department
										th Gender 
										th Address  
										th Status  
								tbody
						div#newAppt.table-responsive(style="display: block;")
							h3(style='background-color: aqua; font-weight: bold;')  Available Doctors 
							div#message
								span#errorMessage(style="color:lightcoral; font-weight: bold;") #{errorMessage ? errorMessage : ''}
								span#successMessage(style="color: lightgreen; font-weight: bold;") #{successMessage ? successMessage : ''}
							#doctorDetails.container(style="text-align: left; display:none;")
								.row 
									.col-12 
										h2#doctorName(style="text-align: center") DoctorName
								.row 
									.col-4 
										p#availability Time: 
									.col-4 
										p#weekDays Days: 
									.col-4 
										p#department Department: 
								.row 
									.col-4 
										p#age Age: 
									.col-4 
										p#gender Gender: 
									.col-4 
										p#ratings Ratings: 
								.row 
									.col-12  
										p#address Address: 
								.row 
									.col-4 
										label(for="time") Time: 
										input#time(type="time")
									//.col-4 
										label(for="day") Day: 
										select#day 
											- 	let daysArray = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"];
												each item in daysArray 
													option(value=item) #{item}
									.col-4 
										label(for="date") Date: 
										input(type="date" name='date' id='date')
									.col-4 
										button#sendRequest Send Request
							table#doctorsList.table.table-sm.table-hover.table-bordered(width="100%")
								thead
									tr
										th S.No 
										th Doctor Name 
										th Time 
										//th Week Days 
										th Department
										th Age 
										th Gender 
										//th Address  
										//th Overall Ratings 
										//th Appointment Action
								tbody
					#history.container(style='display: none; text-align: center;')
						#completed
							h3(style='background-color: aqua; font-weight: bold;') Completed Appointments
							table#completedList.table.table-sm.table-hover.table-bordered(width="100%")
								thead
									tr
										th S.No 
										th Doctor Name 
										th Time 
										th Day
										th Date
										th Department
										th Gender 
										th Address  
										th Status  
										th Prescription
								tbody
					#accountSettings.container(style='display: none; text-align: center;')
						h3(style='background-color: aqua; font-weight: bold;') Account Settings
						#updateAccountMessage 
							span#updateAccountError.bg-danger.text-white 
							span#updateAccountSuccess.bg-success.text-white
						p.text-info Click Submit to Update your details
						div.container
						-	let {FirstName, LastName, Email, Password, Age, Gender, Address} = userData;
							div.bg-dark 
								.form-group
									label(for='firstName') First Name:
									input#firstName.form-control(type='text' placeholder='First name' name='FirstName' value=FirstName)
								.form-group
									label(for='lastName') Last Name:
									input#lastName.form-control(type='text' placeholder='Last Name' name='LastName' value=LastName)
								.form-group
									label(for='email') Email address
									input#email.form-control(type='email' name='Email' placeholder='Enter email' value=Email)
								.form-group
									label(for='password') Password
									input#password.form-control(type='password' name='Password' placeholder='Password' value=Password)
								.form-group
									label(for='age') Age
									input#Age.form-control(type='number' name='Age' placeholder='18' value=Age)
								.form-group
									label(for='gender') Gender
									input#Gender.form-control(type='text' name='Gender' placeholder='Male' value=Gender)
								.form-group
									label(for='address') Address
									input#Address.form-control(type='text' name='Address' placeholder='Address' value=Address)
								button.btn.btn-primary(onclick='updateAccount()') Submit
							br
	footer.probootstrap-footer
		.container
			.row.mb-5
				.col-md-3
					h3.heading Latest Blog
					ul.list-unstyled.probootstrap-footer-recent-post
						li
							a(href='#')
								span.date November 15, 2017
								|  The practice of medicine is a lot like parenting
						li
							a(href='#')
								span.date November 15, 2017
								| Physicians: Want to overcome burnout? Start studying business.
				.col-md-3
					h3.heading Head Office
					p.mb-5 98 West 21th Street, Suite 721 New York NY 10016
					h3.heading.text-white Open
					p
						| Mon-Fri 7:30-18:00 
						br
						|             Sat 7:30-18:00 
						br
						|             Sun 7:30-18:00
				.col-md-3
					h3.heading Quick Links
					ul.list-unstyled.probootstrap-footer-links
						li
							a(href='#') Home
						li
							a(href='#') Department
						li
							a(href='#') About
						li
							a(href='#') Contact
				.col-md-3
					h3.heading Follow us
					ul.probootstrap-footer-social
						li
							a(href='#')
								span.icon-twitter
						li
							a(href='#')
								span.icon-facebook
						li
							a(href='#')
								span.icon-linkedin
			// END row
			.row.probootstrap-copyright
				.col-md-12
					p
						small
							| &copy; 2017 
							a(href='https://uicookies.com/' target='_blank') uiCookies Health
							| . All Rights Reserved. Designed &amp; Developed by 
							a(href='https://uicookies.com/' target='_blank') uicookies.com
							|  (please don&apos;t remove credit, see 
							a(href='https://uicookies.com/license/' target='_blank') license
							| )  
							br
							|  Demo Images 
							a(href='https://pexels.com/') Pexels
	// loader
	#probootstrap-loader.show.fullscreen
		svg.circular(width='48px' height='48px')
			circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
			circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#32609e')
	script(src='js/jquery-3.2.1.min.js')
	script(src='js/popper.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/owl.carousel.min.js')
	script(src='js/jquery.waypoints.min.js')
	script(src='js/bootstrap-datepicker.js')
	script(src='js/jquery.animateNumber.min.js')
	script(src='js/userFrontend.js')
	script(src='js/main.js')
	script(src="js/Time.js") 
	script.
		function showMenu(id){
			let menus = ['dashboard', 'appointments', 'history', 'accountSettings'];
			menus.forEach(function(element){
				if(element===id) {
					$('#'+element).show();
				}
				else {
					$('#'+element).hide();
				}
				if(element==='appointments') loadDoctorsList();
				if(element==='history') loadCompletedList();
				//if(element==='accountSettings') //loadUserDetails();
			});
		}
